.icon{
    width: 20px;
    margin-right: 20px;
}

.button{
    color: grey;
    border-color: grey;  
    margin-top: 10px;  
}

.button:focus:active{
    background-color: whitesmoke;
}
.button:hover{
    background-color: azure;
}